
.MuiCardContent-root .MuiTypography-root {
  text-decoration: none;
  color: black;
}

.css-7eulig-MuiPaper-root-MuiCard-root {
  border-radius: 22px !important;
}

.react-calendar  {
  width: 100% !important;
}

.dashboard_header{
  background-color: #fff;
  width: 100%;
  padding: 10px;
}
/* .dashboard_header h4{
 padding: 10px; 
} */