@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: #F5F7F9!important;
    font-family: 'Montserrat', sans-serif;
}

.btn-send{
  text-align: center;
  border: none;
  width: 100%;
  border: 2px solid #3895d3 !important;
  background-color: #3895d3 !important;
  color: #fff !important;
  padding: 8px 30px !important;
  text-decoration: none;
  font-weight: 500;
}

.active ~ .page_responsive {
    width: calc(100% - 240px);
    left: 240px;
    transition: all 0.2s ease;
}

.page_responsive {
    position: absolute;
    top: 16px;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 3%;
    height: 100%;
    width: calc(100% - 74px);
    left: 74px;
    transition: all 0.2s ease;
}
@media (max-width: 767px) {
    .active ~ .page_responsive {
        width: calc(100% - 240px);
        left: 240px;
        transition: all 0.2s ease;
        filter: blur(12px);
    }
}

.App {
  margin: 0;
  overflow-x: hidden;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 20px;
  }
  p {
    font-size: 12px;
  }
  h2 {
    font-size: 12px
  }
  h3 {
    font-size: 12px;
  }
  h3 span {
    font-size: 25px;
  }
}
